extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen de la torre eifel", class="img-fluid")
            .col-md-7 
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam commodo iaculis tristique. Aenean est massa, pulvinar nec fringilla id, viverra in nisi. Curabitur efficitur accumsan ligula ve.
                p Pellentesque convallis at tellus sed tempor. Donec vitae vulputate dui, nec porttitor nunc. Quisque efficitur quam sit amet leo euismod, ut condimentum metus finibus. Ut in ex non turpis cursus maximus. Sed tempor, ante et maximus porta, quam turpis finibus justo, non dignissim nibh elit ac felis.
                p Curabitur blandit eros molestie interdum feugiat. Nam condimentum lobortis purus, nec interdum mauris commodo condimentum. Phasellus tincidunt ex sed est auctor vestibulum. Maecenas non dictum erat. Proin lectus dolor, interdum vel erat ut, semper aliquam turpis. 
    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono de seguridad", class="img-fluid mb-4")
                    h2 Seguridad 
                    p Maecenas non dictum erat. Proin lectus dolor, interdum vel erat ut, semper aliquam turpis. 
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono de destinos", class="img-fluid mb-4")
                    h2 Destinos 
                    p Maecenas non dictum erat. Proin lectus dolor, interdum vel erat ut, semper aliquam turpis. 
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono de precios", class="img-fluid mb-4")
                    h2 Mejores Precios
                    p Maecenas non dictum erat. Proin lectus dolor, interdum vel erat ut, semper aliquam turpis. 